.App {
  text-align: center;
}


.App_form{
  padding: 10px;
  position: fixed;
  bottom: 0%;
  z-index: 1;
  background-color: #e9e9eb;
  width: 96%;
  margin: 20px;
}
.image {
  width: 100px;
  height: 100px;
}
.App_formControl{
  display: flex !important;
  flex-direction: row !important;
}

.App__input{
  flex: 1;  
}
.App__iconButton{
flex: 1;
}